<!-- <p id="notice"><%= notice %></p>
 -->
<h1>Enterprises</h1>

<%= render 'form', enterprise: @enterprise %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprises.each do |enterprise| %>
      <%= render 'enterprises', enterprise: enterprise %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterprise', new_enterprise_path %>
